<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Chat Application</title>

    <link href="~/Content/styles.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--
    budding, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

    Download: http://zypopwebtemplates.com/

    License: Creative Commons Attribution
    //-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
    <div id="container">

        <header>
            <div class="width">
                <h1><a href="/">Tyler's Chat <span>Applcation</span></a></h1>
            </div>
        </header>

        <nav>
            <div class="width">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Chat Room", "Chat", "Home")</li>

                </ul>
            </div>
        </nav>

        <div id="body" class="width">



            <section id="content">

                <article>

                    @RenderBody();

                </article>

            </section>

            <div class="clear"></div>
        </div>
        <footer>

            <div class="footer-bottom">
                <p>&copy; Tyler Truitt 2017. <a target="_blank" href="http://www.trucoding.com">Personal Site</a> || <a target="_blank" href="https://www.github.com/tyleretruitt">GitHub</a></p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>